body {
    background: lightgray;
}
.main {
    margin-top: 5em;
}
.head{
    margin-top: 10px;
}
.ui.fixed.menu {
    background: lightgray;
}
.center {
    justify-content: center;
    padding: 10px 0px;
    display: flex;
}
.ui.serach input{
    width: 100%;
    border: 0 !important;
    background: lightcyan;
    border-radius: 10px;
}
.item {
    padding: 15px 0px !important;
}
i.icon {
    float: right;
    font-size: 20px;
    cursor: pointer;
}